div.button{
    >a{
        display: inline-block;
        width: 36rem;
        height: 10rem;
        background-color: rgb(214, 214, 214);
        text-decoration: none;
        color: rgb(2, 0, 0);
        overflow: hidden;


        >span{
            line-height: 10rem;
            text-align: center;
            display: block;
            font-size: 3rem;
            transition: 0.5s linear;
        }

       

    }
    >a:hover span{
        transform: translateY(-10rem);

    }
}