div.contact {
    // align-items: center;
    width: 100%;
    height: 260px;
    background-color: #262626;
    border-top: 20rem;

    div.duzy {
        color: rgb(110, 48, 182);
        font-size: 3rem;


    }

    h4 {
        font-size: 3rem;
        color: rgb(255, 255, 255);
    }

    >a {
        display: inline-block;
        width: 15rem;
        height: 4.20rem;
        background-color: #262626;
        text-decoration: none;
        color: #ffffff;
        overflow: hidden;


        >span {
            line-height: 3.85rem;
            text-align: center;
            display: block;
            font-size: 2rem;
            transition: 0.3s linear;
            border: 2px solid #ffffff;
           



            // margin-right: 





        }


    }
    >a:hover span{
        transform: translateY(-4rem)
    }

}