div.cytaty1{
    p{
        font-size: 2rem;
    }
    h2{
        font-size: 5rem;
    }
div.cytaty{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   flex-direction: row;
   background-color: rgb(255, 255, 255);
   border: 30px;
   width: 1000px;
   
        i{
            font-size: 2rem;
        }
 

    >article{
        box-sizing: content-box;
        width: 45%;
        padding: none;
        align-items: flex-start;
    
    }
div.kolo{

height: 4rem;
width: 4rem;
background-color: rgba(194, 189, 189, 0.767);
border-radius: 50%;
align-items: flex-start;
// padding: 0.1px;
}

}}