html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

section.navbar-fluid {
  background: white;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 7px 15px 0px rgba(50, 50, 50, 0.3);
}

section.navbar-fluid div.navbar {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.navbar-fluid div.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: white;
}

section.navbar-fluid div.navbar li {
  float: left;
}

section.navbar-fluid div.navbar li a {
  display: block;
  color: #52C5C1;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem 1.2rem 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

section.navbar-fluid div.navbar li a:hover:not(.active) {
  background-color: #52C5C1;
  color: #fff;
}

section.navbar-fluid div.navbar li a.active {
  color: white;
  background-color: #4CAF50;
}

header.header-top-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  background-image: -webkit-gradient(linear, left top, right top, from(#3dcdbc), color-stop(#2ac3c0), color-stop(#20b8c2), color-stop(#26acc1), to(#33a1bd));
  background-image: linear-gradient(to right, #3dcdbc, #2ac3c0, #20b8c2, #26acc1, #33a1bd);
}

header.header-top-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
}

header.header-top-fluid div:nth-child(2) {
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-left: 4rem;
}

header.header-top-fluid div:nth-child(2) h2 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

header.header-top-fluid div:nth-child(2) p {
  margin: 0;
  font-size: 2rem;
  font-weight: 1.4rem;
  margin-bottom: 4rem;
}

header.header-top-fluid div:nth-child(2) > a {
  text-decoration: none;
  height: 30px;
}

header.header-top-fluid div:nth-child(2) > a span {
  background-color: white;
  font-size: 3rem;
  color: #3dcdbc;
  height: 110px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 15rem;
}

div.info1 {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 300px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.info1 div.info2 {
  margin-top: 40px;
  background-color: white;
}

div.info1 h2 {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.info1 p {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

div.info1 a {
  text-decoration: none;
}

div.info1 a span.info {
  background-color: #00FFA3;
  font-size: 3rem;
  color: #239C71;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-top: 5rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

div.container1 {
  width: 1000px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

div.container1 div.info2 {
  margin-top: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  height: 42rem;
  width: 100%;
}

div.container1 div.info2 h3 {
  font-size: 2rem;
}

div.container1 div.info2 p {
  font-size: 2rem;
}

div.container1 div.info2 > article.pierwszy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  padding: 2rem;
  -webkit-box-shadow: -1px -1px 76px 8px #c9c9c9;
          box-shadow: -1px -1px 76px 8px #c9c9c9;
  background-color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

div.container1 div.info2 > article.drugi {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  padding: 2rem;
  -webkit-box-shadow: -1px -1px 76px 8px #c9c9c9;
          box-shadow: -1px -1px 76px 8px #c9c9c9;
  background-color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.button {
  background-color: #740606;
}

div.button > a {
  display: inline-block;
  width: 36rem;
  height: 10rem;
  background-color: #d6d6d6;
  text-decoration: none;
  color: #020000;
  overflow: hidden;
}

div.button > a > span {
  line-height: 10rem;
  text-align: center;
  display: block;
  font-size: 3rem;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

div.button > a:hover span {
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

div.cytaty1 {
  background-color: #F6F6F6;
  padding-top: 1rem;
  padding-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.cytaty1 div.cytaty3 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div.cytaty1 div.cytaty3 p {
  font-size: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.cytaty1 div.cytaty3 h2 {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.cytaty1 div.cytaty3 div.cytaty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 30px;
  width: 1000px;
}

div.cytaty1 div.cytaty3 div.cytaty i {
  font-size: 2rem;
}

div.cytaty1 div.cytaty3 div.cytaty > article {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 45%;
  padding: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div.cytaty1 div.cytaty3 div.cytaty div.kolo {
  height: 4rem;
  width: 4rem;
  background-color: rgba(194, 189, 189, 0.767);
  border-radius: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div.contact {
  width: 100%;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 0rem 2rem 0rem;
  letter-spacing: 0.1rem;
}

div.contact div.napis {
  font-size: 1rem;
}

div.contact h4 {
  font-size: 3rem;
  color: white;
}

div.contact div.przycisk > a {
  display: inline-block;
  width: 15rem;
  height: 4.20rem;
  background-color: #262626;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
}

div.contact div.przycisk > a > span {
  line-height: 3.85rem;
  text-align: center;
  display: block;
  font-size: 2rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border: 2px solid #ffffff;
}

div.contact div.przycisk > a:hover span {
  -webkit-transform: translateY(-4.2rem);
          transform: translateY(-4.2rem);
}

div.tlo {
  width: 100%;
  background-color: #262626;
}

div.tlo div.koniec {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 0.1rem;
}

div.tlo div.koniec div.lewa {
  width: 25%;
}

div.tlo div.koniec div.lewa > h2 {
  color: #ffffff;
  font-size: 2rem;
}

div.tlo div.koniec div.lewa > p {
  font-size: 1.6rem;
  color: #777777;
  line-height: 2.2rem;
}

div.tlo div.koniec div.srodek1 {
  width: 25%;
}

div.tlo div.koniec div.srodek1 ul {
  list-style-type: none;
  margin: 3rem;
  padding: 0;
}

div.tlo div.koniec div.srodek1 li a {
  display: block;
  width: 60px;
  color: #1FAA7B;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 3.1rem;
}

div.tlo div.koniec div.srodek2 {
  width: 25%;
}

div.tlo div.koniec div.srodek2 ul {
  list-style-type: none;
  margin: 3rem;
  padding: 0;
}

div.tlo div.koniec div.srodek2 li a {
  display: block;
  width: 60px;
  color: #1FAA7B;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

div.tlo div.koniec div.prawa {
  height: 50PX;
  width: 25%;
}

div.media1 {
  width: 100%;
  background-color: #d8d8d8;
}

div.media1 div.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

div.media1 div.media > div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.obrazki {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 0.1rem 0rem 8rem 0rem;
}

div.obrazki h2 {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.obrazki p {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.obrazki div.obrazki2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 4rem;
}

div.obrazki div.obrazki2 div.obrazki3 {
  width: 100%;
  height: 280;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

div.obrazki div.obrazki2 div.obrazki3 div.lewa {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

div.obrazki div.obrazki2 div.obrazki3 div.lewa div.pierwszy {
  width: 300px;
  height: 15rem;
  background-color: #E1A87B;
  margin: 0rem 0rem 3rem 0rem;
}

div.obrazki div.obrazki2 div.obrazki3 div.lewa div.drugi {
  width: 300px;
  margin-left: none;
  height: 15rem;
  background-color: #AAA1A4;
}

div.obrazki div.obrazki2 div.obrazki3 div.srodek {
  width: 300px;
  height: 33rem;
  background-color: #E3DFDC;
}

div.obrazki div.obrazki2 div.obrazki3 div.prawa {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

div.obrazki div.obrazki2 div.obrazki3 div.prawa div.trzeci {
  width: 300px;
  height: 15rem;
  background-color: #BFEEB8;
  margin: 0rem 0rem 3rem 0rem;
}

div.obrazki div.obrazki2 div.obrazki3 div.prawa div.czwarty {
  width: 300px;
  margin-right: none;
  height: 15rem;
  background-color: #87A283;
}

div.obrazki a {
  text-decoration: none;
}

div.obrazki a span.obrazki-przycisk {
  background-color: #00FFA3;
  font-size: 3rem;
  color: #239C71;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-top: 5rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */